<div class="row">
  <h3 class="center-align">Portfolio Listing </h3>
  <% @portfolios.each do |portfolio| %>
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content ">
          <span class="card-title"><%= portfolio.name %></span>
          <p><%= portfolio.description %></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>  
  <% end %>
</div>